name: Build and Push

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  VERSION: "0.0.1"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/${{ secrets.GOOGLE_CLOUD_NUMBER }}/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-oidc-provider"
          service_account: "github-actions@${{ secrets.GOOGLE_CLOUD_ID }}.iam.gserviceaccount.com"
      - name: Build
        run: |
          docker image build -t gcr.io/${{ secrets.GOOGLE_CLOUD_ID }}/ediloader:$GITHUB_SHA .
      - name: Push
        run: |
          docker image push gcr.io/${{ secrets.GOOGLE_CLOUD_ID }}/ediloader:$GITHUB_SHA
